@media only screen 
  and (min-device-width: 320px) 
 {

  html{
    background-color:  #eafdfe;
  }
.title{
  font-family: 'Melodrama', serif;
  margin: auto;
  position: absolute;
  top: 44vh;
  left: 26vw;
  font-size: 50px;
  color: #338193;
  letter-spacing: 3px;
}

.mail {
margin-right: 15px; 
margin-top: 5px;

}
.insta{
margin-right: 15px; 
margin-top: 5px;
}
.linkedin{
margin-right: 15px; 
margin-left: 5px;

}
.header{
width: 100%;
display: flex;
justify-content: flex-start;

}
  }


 

.circle1{
  height:100px;
  width: 100px;
        background-color: #338193;
        border-radius: 50%;
      position: absolute;
      top: 20vh;
      left: 40vw;
   
     
    }

    .circle2{
      height:85px;
      width: 85px;
      background-color: #338193;
      border-radius: 50%;
      position: absolute;
      top: 60vh;
      left: 66vw;
    }
    .circle3{
      height:85px;
      width: 85px;
      background-color:  #338193;
      border-radius: 50%;
      position: absolute;
      top: 60vh;
      left: 12vw;
      white-space: nowrap;
    }

.designs{
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
text-decoration: none; 
display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 20px;
 transition: all .3s ease-in-out; 

}
.designs:hover { transform: scale(1.2); }

.projects{
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
text-decoration: none; 
display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 20px;
transition: all .3s ease-in-out; 
}
.projects:hover { transform: scale(1.2); }

.about{
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
text-decoration: none; 
display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 20px;
transition: all .3s ease-in-out; 
}
.about:hover { transform: scale(1.2); }
.header2{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  margin-top: 120px;
  flex-direction: column;
  align-items: center;
}
.sun{
  transform: rotate(270deg);
  height: 200px;
  width: 260px;
  position: absolute;
  top: 15vh;
  left: 22vw;
}


@media screen and (min-width: 700px) {


.title{
    font-family: 'Melodrama', serif;
    display: flex;
    position: absolute;
      top: 42vh;
      left: 10vw;
    font-size: 95px;
   color:  #338193; 
  
}

.mail {
  margin-right: 15px; 
  margin-top: 5px;

}
.insta{
  margin-right: 20px; 
  margin-top: 5px;
}
.linkedin{
  margin-right: 15px; 

}
.header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

   

.circle1{
  height:120px;
  width: 120px;
        background-color:  #338193;
        border-radius: 50%;
        position: absolute;
        top: 15vh;
        left: 56vw;
      }
      .circle2{
        height:120px;
        width: 120px;
        background-color:  #338193;
        border-radius: 50%;
        position: absolute;
        top: 42vh;
        left: 68vw;
      }
      .circle3{
        height:120px;
        width: 120px;
        background-color:  #338193;
        border-radius: 50%;
        position: absolute;
        top: 70vh;
        left: 56vw;
      }

.designs{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-decoration: none; 
  display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 20px;

  
}
.projects{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-decoration: none;
  display: flex; /* or inline-flex */
align-items: center; 
justify-content: center; 
margin-top: 20px;
}
.about{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-decoration: none; 
  display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 20px;
}
.sun{
  transform: rotate(0deg);
  height: 500px;
  width: 650px;
  position: absolute;
  top: 22vh;
  left: 42vw;
}




}
@media screen and (min-width: 1350px) {
  .title{
    font-family: 'Melodrama', serif;
    display: flex;
    position: absolute;
    top: 42vh;
      left: 10vw;
    font-size: 120px;
   color:  #338193; 
  
}

.mail {
  margin-right: 15px; 
  margin-top: 5px;

}
.insta{
  margin-right: 20px; 
  margin-top: 5px;
  
}
.linkedin{
  margin-right: 15px; 

}
.header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

   

.circle1{
  height:140px;
  width: 140px;
        background-color: #338193;
        border-radius: 50%;
        position: absolute;
        top: 15vh;
        left: 55vw;
      }
      .circle2{
        height:140px;
        width: 140px;
        background-color: #338193;
        border-radius: 50%;
        position: absolute;
        top: 43vh;
        left: 65vw;
      }
      .circle3{
        height:140px;
        width: 140px;
        background-color: #338193;
        border-radius: 50%;
        position: absolute;
        top: 72vh;
        left: 55vw;
      }

.designs{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-decoration: none; 
  display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 32px;
}
.projects{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-decoration: none;
  display: flex; /* or inline-flex */
align-items: center; 
justify-content: center; 
margin-top: 32px;

}
.about{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-decoration: none; 
  display: flex; /* or inline-flex */
align-items: center; 
justify-content: center;
margin-top: 32px;
}
.sun{
  transform: rotate(0deg);
  height: 600px;
  width: 750px;
  position: absolute;
  top: 18vh;
  left: 40vw;
}



}